# Ignore the following files and directories

#Git
.gitignore
.vscode/

# Docker
.dockerignore
Dockerfile
docker-compose.yml

# Python - Byte-compiled / optimized / DLL files
**/__pycache__/
**/*.py[cod]
**/.cache/